header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}


/* MENU ---------------------------------- */
.navbar{
    margin-left: -12px;
    margin-right: -12px;
}
.navbar>.container-fluid #navbarSupportedContent{
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    color: #2d2d2d;
}
.navbar a:hover{
    color: #0d6efd;
}

/* CUERPO ---------------------------------- */
.plantillas{
    padding-top: 50px;
}


.content-fixed{
position: relative;
}
.formulario-fixed{
    position: sticky;
    border-radius: 20px;
    padding: 20px;
    background-color: #f2f7ff;
}
/* #productForm{
    position: fixed;
} */
.product-table{
    font-size: 12px;
}
.disable{
    opacity: 0.3;
}

.avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
    height: auto;
}

/*---------------------------
  USUARIOS ALL
  ---------------------------*/
  .form-content-border{
    border: 1px solid #dadada;
    padding: 16px;
    margin: 16px;
    border-radius: 17px;
    background-color: #f2f2f2;
    margin-top: 24px;
    }
.form-content-border label{
    font-size: 12px;
}
  .form-avatar{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    overflow: hidden;
    margin: auto;
  }
   .form-avatar img{
    width: 100%;
    height: auto;
   }
  .form-button-right{
    display: flex;
    justify-content: flex-end;
    padding: 0 8px;
  }
  .form-button-right button{
   margin: 0 8px;
  }