<div>
    <h1>Login</h1>
    <form id="productForm">
        <label>nombre</label>
        <input name="name">
        <label>codigo</label>
        <input name="code">
        <label>descripción</label>
        <input name="description">
        <label>precio</label>
        <input name="price">
        <label>cantidad</label>
        <input name="quantity">
        <label>imagen</label>
        <input type="file" name="image">
        <input type="submit">
    </form>
</div>
<script src="/js/product.js"></script>