<div>
    <h1>Regístrate</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Teléfono</label>
        <input name="phone">
        <label>Edad</label>
        <input name="age">
        <label>Contraseña (por defecto 1234)</label>
        <input type="password" name="password" value="1234">
        <label>Avatar</label>
        <input type="file" name="image">
        <input type="submit">
    </form>
</div>
<script src="/js/register.js"></script>