<div class="container">
    <div class="row {{!-- align-items-center  --}} justify-content-center">
        <div class="col-8 {{!-- align-self-center --}} mb-3">
            <h1>Registro</h1>
            {{!-- <h2>{{errorMsg}}</h2>
            <div class="message-error">{{#if error}}{{error}}{{/if}}</div> --}}
            
            <form id="registerForm">
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="first_name" class="form-label">Nombre:</label>
                        <input id="first_name" name="first_name" type="text" class="form-control"  placeholder="first name" >
                    </div>
                    <div class="mb-3 col-6">
                        <label for="last_name" class="form-label">Apellido:</label>
                        <input id="last_name" name="last_name" type="text" class="form-control"  placeholder="last name" >
                    </div>
                    <div class="mb-3 col-2">
                        <label for="age" class="form-label">Edad:</label>
                        <input id="age" name="age" type="number" class="form-control"  placeholder="age" >
                    </div>
                </div>
                <div class="row">   
                </div>
                <div class="row">
                    <div class="mb-3  col-7">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email" name="email" type="email" class="form-control"  placeholder="email@email.com" >
                    </div>
                    
                    <div class="mb-3 col-5">
                        <label for="phone" class="form-label">Teléfono:</label>
                        <input id="phone" name="phone" type="text" class="form-control"  placeholder="phone" >
                    </div>

                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="" value="1234">
                    <div><i>Por defecto 1234</i></div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Avatar</label>
                    <input class="form-control" type="file" id="image" >
                    <div><i>Si no se añade, se eligira uno por defecto</i></div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                <div class="mb-3">
                <a href="/login" class="btn btn-warning">login</a>
            </form>
           
        </div>
    </div>
</div>
<script src="/js/register.js"></script>