<div class="container">
    <div class="row {{!-- align-items-center  --}} justify-content-center">
        <div class="col-8 {{!-- align-self-center --}} mb-3">
            <h1>Crear Producto</h1>
          
            <form id="productForm">
                <div class="row">
                    <div class="mb-3 col-8">
                        <label for="product_name" class="form-label">Nombre:</label>
                        <input id="product_name" name="product_name" type="text" class="form-control"  placeholder="Nombre" >
                    </div>
                    <div class="mb-3 col-4">
                        <label for="code" class="form-label">Codigo:</label>
                        <input id="code" name="code" type="text" class="form-control"  placeholder="code" >
                    </div>
                    </div>
                    <div class="row">
                    <div class="mb-3 col-12">
                        <label for="description" class="form-label">Descripción:</label>
                        <textarea id="description" name="description" type="text" class="form-control"  placeholder="description" ></textarea>   
                    </div>
                </div>
                <div class="row">   
                </div>
                <div class="row">
                    <div class="mb-3  col-2">
                        <label for="price" class="form-label">Precio <i>(€)</i>:</label>
                        <input id="price" name="price" type="number" class="form-control"  type="number" step=.01 placeholder="00€" >
                    </div>
                    <div class="mb-3 col-3">
                        <label for="quantity" class="form-label">Stock <i>(ud)</i>:</label>
                        <input id="quantity" name="quantity" type="number" class="form-control"  placeholder="0000 ud" >
                    </div>
                    <div class="mb-3 col-7">
                        <label for="image" class="form-label">Foto:</label>
                        <input class="form-control" type="file" id="image" name="image" >
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Crear Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/product.js"></script>
