<div class="container">
    <div class="row {{!-- align-items-center  --}} justify-content-center">
        <div class="col col-auto {{!-- align-self-center --}} mb-3">
            <h1>Login</h1>
            {{!-- <h2>{{errorMsg}}</h2>
            <div class="message-error">{{#if error}}{{error}}{{/if}}</div> --}}
            <form id="loginForm">
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input id="email" name="email" type="email" class="form-control"  placeholder="email@email.com" value="test@mail.es" >
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="" value="1234">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Acceder</button>
                </div>
                <div class="mb-3">
                <a href="/register" class="btn btn-warning">Register</a>
                {{!-- <a href="/data" class="btn btn-warning">Data</a>
                </div> --}}
            </form>
        </div>
 {{!--        <div class="col-4">
            <h1 style="text-align: center; font-size: 100px;">🤞</h1>
            <h1>Login por RS</h1>
            <a href="/api/sessions/github" id="register-github" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
        </div> --}}
    </div>
</div>
<script src="/js/login.js"></script>