<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>🙀 Información Usuario</h1>
            <p>Nombre: {{user.nombre}}</p>
            <p>Email: {{user.email}}</p>
            <br>
            <a href="/api/sessions/logout" class="btn btn-warning">Logout</a>

        </div>
    </div>
</div>