<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Error Login</h1>
            <a href="/login" class="btn btn-warning">Login</a>
        </div>
    </div>
</div>
    