html
    head
        link(rel="stylesheet", href="./css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="./css/fontawesome/all.min.css")
        
        link(rel="stylesheet", href="./css/fontawesome/all.min.css")
        title="Plantilla"

    body
        div(class="container")
            div(class="row justify-content-md-center")
                div(class="col-xs-6")
                    form(id="productForm")
                        div(class="mb-3")
                            label(for="title", class="form-label") Nombre:
                            input(id="title", name="title", type="text", class="form-control",  placeholder="Nombe del producto")

                        div(class="mb-3")
                            label(for="price", class="form-label") Precio:
                            input(id="price", name="price", type="number" step=.01, class="form-control",  placeholder="0,00 €")

                        div(class="mb-3")
                            label(for="image" class="form-label") Subir imagen
                            input(id="image", name="image", class="form-control", type="file")
                            
                        div(class="mb-3")
                            button(type="submit", class="btn btn-primary") Crear producto