<%- include('./partials/head')%>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form id="productForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Nombre:</label>
                    <input id="title" name="title" type="text" class="form-control"  placeholder="Nombre del producto" >
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio:</label>
                    <input id="price" name="price" type="number" step=.01 class="form-control"  placeholder="0,00 €" >
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Subir imagen</label>
                    <input id="image" name="image" class="form-control" type="file" >
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Crear producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- scripts products -->
<script src="js/productNew.js"></script>   

<%- include('./partials/footer')%>