<form id="productForm">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input id="name" type="text" class="form-control"  placeholder="Nombre del producto">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio:</label>
        <input id="price" type="number" class="form-control"  placeholder="0,00 €">
    </div>
    <!-- <div class="mb-3">
        <label for="formFile" class="form-label">Subir imagen</label>
        <input class="form-control" type="file" id="formFile">
    </div> -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Crear producto</button>
    </div>
</form>