<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xs-6">
            <form id="productForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Nombre:</label>
                    <input id="title" type="text" class="form-control"  placeholder="Nombre del producto" name="title">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio:</label>
                    <input id="price" type="number" class="form-control"  placeholder="0,00 €" name="price">
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Subir imagen</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div> -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Crear producto</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- scripts products -->
<script src="js/productNew.js"></script>   